build

node_modules
npm-debug.log

minecraft_server/crash-reports
minecraft_server/logs
minecraft_server/world
minecraft_server/**/*.json
minecraft_server/**/*.txt
minecraft_server/**/*.jar
minecraft_server/**/*.properties
